body {
    font-family: 'Roboto', sans-serif;
    margin : 0;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding : 10px 100px 50px;
    gap : 50px
}
h1, .main {
    color : #F9FAF8
}
h1 {
    font-size: 48px;
    font-weight: 900;
}
#logo {
    font-size : 24px;
    font-weight: bold;
}

.secondary, button {
    color : #e5e7eb;
    font-size: 18px;
}
.header-header {
    display : flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
    gap : 20px;
}
.header-content {
    display: flex;
    gap : 50px;
    justify-content: space-between;
}
.left-content {
    display : flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
}
.right-content {
    display:flex;
    max-width: 50%;
    align-items: center;
}
button {
    margin : 0;
    width: fit-content;
    background-color: #3882F6;
    padding : 5px 30px;
    border-radius: 5px;
    border : 0;
}

.left-content * {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display : flex;
    max-width: 500px;
    border-radius: 20px;
}