body {
    font-family: 'Roboto', sans-serif;
    margin : 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding : 10px 100px;
}
h1, .main {
    color : #F9FAF8
}
h1 {
    font-size: 48px;
    font-weight: 900;
}
#logo {
    font-size : 24px;
    font-weight: bold;
}

.secondary {
    color : #e5e7eb;
    font-size: 18px
}
.header-header {
    display : flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
    gap : 20px;
}